---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';

export const prerender = false

const {slug} = Astro.params

const res = await fetch(`https://api.jikan.moe/v4/anime/${slug}`)
const data = await res.json()
console.log(data);
---

<Layout title={data.data.title}>

	<div class="container">

		<div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h1 class="text-center">{data.data.title}</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img src={data.data.images.webp.large_image_url} alt="">
                    </div>
                    <div class="col-md-8">
                        <p><b>Sinopsis</b></p>
                        <p>{data.data.synopsis}</p>
                        <p><b>Episode</b></p>
                        <p>{data.data.episodes}</p>
                        <p><b>Trailer</b></p>
                        <embed src={data.data.trailer.embed_url} type="" style="min-width:100%;min-height:500px;">
                    </div>
                </div>
            </div>
		</div>
	</div>
</Layout>